.vscode/
.github/
.gitignore
src/
tests/
demo/
media/guide/

**/svelte/
!svelte/dist/
!target/wasm32-unknown-unknown/release/*.wasm

**/Cargo.*
**/target/
**/bin/
**/wit/
**/jest.config.js
**/*.ts
**/*.tsbuildinfo

**/tsconfig.json
**/tsconfig.tsbuildinfo
